<div class="image">
</div>
<div class="outer">
<div class="main_product_container">
    <h1 style="text-decoration: underline">Can You Dig It Webstore</h1>
    <br>
        <input ng-model="search" placeholder="Product filter"></input>
        <br>
        <button ng-click="addToCart(selected)">Add to cart</button>
        <br>
            <div ng-class="{highlight: selected === product}" class="products" ng-repeat="product in products | filter: search" ng-click="onClick(product)">
                <p>Item: {{product.title}} <br>Description: {{product.description}} <br>Price: ${{product.price}}</p>
            </div>
</div>

<div class="shopping_cart">
    <h1>Shopping Cart</h1>
    <br>
    <button ng-click="deleteCart()">Empty cart</button><button>Checkout</button>
    <br>
    <div class="shopping_cart_items"><p ng-repeat="product in cart track by $index">Item: {{product.title}} ${{product.price}}</p></div><br>
    <div><p class="emptyMessage">{{empty}}</p><br></div>
    <div class="total"><h3>Total ${{total}}</h3></div>
</div>
</div>
